@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('dejavusanscondensed-webfont.eot');
    src: url('dejavusanscondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('dejavusanscondensed-webfont.woff') format('woff'),
         url('dejavusanscondensed-webfont.ttf') format('truetype'),
         url('dejavusanscondensed-webfont.svg#dejavu_sanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansCondensed-Bold';
    src: url('dejavusanscondensed-bold-webfont.eot');
    src: url('dejavusanscondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dejavusanscondensed-bold-webfont.woff') format('woff'),
         url('dejavusanscondensed-bold-webfont.ttf') format('truetype'),
         url('dejavusanscondensed-bold-webfont.svg#dejavu_sanscondensed_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbsolutProCond';
    src: url('absolut_pro_bookcondensed-webfont.eot');
    src: url('absolut_pro_bookcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('absolut_pro_bookcondensed-webfont.woff') format('woff'),
         url('absolut_pro_bookcondensed-webfont.ttf') format('truetype'),
         url('absolut_pro_bookcondensed-webfont.svg#absolut_pro_condensed_reducRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AbsolutProCond-Bold';
    src: url('absolut_pro_boldcondensed-webfont.eot');
    src: url('absolut_pro_boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('absolut_pro_boldcondensed-webfont.woff') format('woff'),
         url('absolut_pro_boldcondensed-webfont.ttf') format('truetype'),
         url('absolut_pro_boldcondensed-webfont.svg#absolut_pro_condensed_reducRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:"DejaVuSansCondensed-BoldOblique";
  src:url("DejaVuSansCondensed-BoldOblique.eot");
  src:url("DejaVuSansCondensed-BoldOblique.woff") format("woff"),
      url("DejaVuSansCondensed-BoldOblique.ttf") format("truetype"),
      url("DejaVuSansCondensed-BoldOblique.eot?#iefix") format("embedded-opentype"),
      url("DejaVuSansCondensed-BoldOblique.svg#DejaVuSansCondensed-BoldOblique") format("svg");
  font-weight:normal;
  font-style:normal;
}

h4.sq-text {
  font-family: "DejaVuSansCondensed-BoldOblique" !important;
  color: #08b3c7 !important;
  font-weight: 100 !important;
}

#squeezol_view input, textarea {
	font-weight: 10 !important;
}

#squeezol_view label { font-weight: bold !important; color: #08B3C7 !important; }

.sq-popover {
  z-index:1000 !important;
}

.sq-panel-group {
  z-index: 999 !important;
}

#squeezol_button, .squeezolButtonSuccess, .sq-invita-ancora, #SqueezolFinishPay_, #SqueezolPay_, #SqueezolStartPay_, #SqueezolDeserted_, #SqueezolModifyAmount_, #squeezol_next, #squeezolSubmit_ { 
	cursor: pointer !important;
	background-color: #08B3C7;
	border: #08B3C7 !important;
	color: white !important;
	font-family: "DejaVuSansCondensed-BoldOblique";
}

.sq-invita-ancora {
  margin-top: 10px;
  
}

#squeezol_next {
  background-color: #08B3C7 !important;
  float: right;
}

#SqueezolInvitation_ {
  background-color: #DA396F; !important
}

#SqueezolRefund_ {
	font-family: "DejaVuSansCondensed-BoldOblique";	
}

#SqueezolStartPay_, #SqueezolInvitation_, #SqueezolModifyAmount_, #SqueezolPay_, #SqueezolDeserted_ {
  height: 40px !important;
   font-size: 12px !important;
}

#SqueezolModifyAmount_ {
  margin-top: 15px;
}

#emailModal_ {
  background-color: #FC8F1A !important;
  height: 30px !important;
  display: block !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: DejaVuSansCondensed-BoldOblique;
  font-size: 12px !important;
  color: #FFF !important;
  font-style: normal !important;
  text-align: center !important;
  line-height: 10px !important;
  letter-spacing: 0em !important;
  cursor: pointer !important; 
}

#sq-fb-sharer {
  background-color: #3B5998;
  color: #FFF;
  display: block;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: DejaVuSansCondensed-BoldOblique;
  font-size: 12px;
  color: #FFF;
  font-style: normal;
  text-align: center;
  line-height: 10px;
  letter-spacing: 0em;
  cursor: pointer;
  float: right;
  padding-right: 25px;
}


.sq-buttonEmail {
	background-color: #FC8F1A !important;
	border: #FC8F1A !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 12px;
  color: #FFF;
  font-style: normal;
  text-align: center;
  line-height: 10px;
  letter-spacing: 0em;
  cursor: pointer;
	font-family: "DejaVuSansCondensed-BoldOblique";
}

.sq-buttonFb {
	background-color: #3B5998 !important;
	height: 30px !important;
  display: block !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-family: DejaVuSansCondensed-BoldOblique;
  font-size: 12px !important;
  color: #FFF !important;
  font-style: normal !important;
  text-align: center !important;
  line-height: 10px !important;
  letter-spacing: 0em !important;
  cursor: pointer !important; 
}

div.row-separata {
  margin-top: 15px !important;
  padding-top: 10px !important;
}

.separator {
	border-bottom: 1px solid #dcdcdc !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.separator-blu {
	border-bottom: 1px solid #08b3c7 !important;
	margin-top: 40px !important;
}

.separator-active {
	border-bottom: 3px solid #DA396F !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.separator-inactive {
	border-bottom: 3px solid #dcdcdc !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.text-step-active {
	color: #08b3c7 !important;
}

.text-step-inactive {
	color: #dcdcdc !important;
}

.text-step-refused {
  color: red !important;
}

.text-step-accepted {
  color: green !important;
}

.sq-text {
  display: inline;
  font-family: DejaVuSansCondensed;
  color: #0AB3C6;
}

.squeezol-btn-header {
 width:65% !important;
 display:inline !important;
 margin-right: -8px !important;
 padding-right: 5px !important;
 padding-bottom: 10px !important;
}

.sq-title {
  border: 1px solid #0AB3C6;
   border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.sq-alert-info{
  background-color: #A9E4EB !important;
}

.pad-it {
  padding: 5px !important;
  margin: 5px !important;
}

.sq-quota {
  font-size: 24.2px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}


.sq-content-title {
  font-family: AbsolutProCond-Bold;
  font-size: 24.2px !important;
  font-style: normal !important;
  text-align: left !important;
  line-height: 29px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  color: #4f424a !important; 
  margin-bottom: 25px !important;
  padding-left: 0px !important;
  cursor: default !important;
}

.sq-content-body, .sq-content-body strong {
  font-family: DejaVuSansCondensed;
  font-size: 14px !important;
  font-style: normal !important;
  text-align: left !important;
  line-height: 16.8px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  color: #4f424a !important;
}

.sq-withBorder {
  border: 1px solid #DDD !important;
   border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 5px;
}

.sq-label {
  font-family: AbsolutProCond;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  text-align: left !important;
  line-height: 22.8px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  color: #4f424a !important;
  display:inline !important;
  margin-bottom: 10px;
}

/* Invitation */
.imgAvatar{
  width: 100% !important;
  max-height: 40px !important;
  max-width: 40px !important;
}

h4.summary strong{
  font-family: "Arial";
  color: #404040 !important;
  font-weight: 100 !important;
}


/* WIZARD */
.sq-wizard img{ 
	width: 80% !important;
}
.sq-wizard h4 {
	color: #808080 !important;
}

div.wizardOpen{
	cursor: pointer !important;
	float:left !important;
} 
h4.wizardOpen{
	cursor: pointer !important;
	display: block !important;
}

.sq-date-icon {
  max-width: 12px;
}

.squeezol_button_big{
	width:20% !important;
	margin-left: auto !important;
  margin-right: auto !important;
}
/* END */

.squeezol_button_big img{ 
	width: 100% !important;
	cursor: pointer !important;
}

h3.sq-popover-title {
	font-family: "DejaVuSansCondensed-BoldOblique";
	color: #808080 !important;
	padding-left:40px !important;
}


p.sq-alert-danger, #squeezolNotifyAmount_ {
	margin-top: 5px !important;
}


.sq-container-dashboard {
  background-color: #FFFFFF !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dcdcdc !important;

  box-shadow: 3px 3px 1px #dcdcdc !important;
  padding-top:50px !important;
  padding-bottom:50px !important;
}

iframe {
	position: absolute !important;
	top: 250px !important;
	left:250px !important;
}

input.sq-form-control, textarea.sq-form-control, select {
  width:100% !important;
  font-family: AbsoluteProCond !important;
}

.sq-form-group > select {
	margin-left: 2px !important;
}

.invitationContainer, .sq-buttonEmail{
	margin-bottom:20px !important;
}

.sq-form-group select, #datepicker1 , #datepicker2, .sq-panel-heading {
  background-color:#A9E4EB !important;
  border:#A9E4EB !important;
  cursor: pointer !important;
  text-align: center !important;
  
}

.sq-input-group-addon{
  color:#FFF !important;
  background-color:#0AB3C6 !important;
  cursor:default !important;
}

.sq-form-group select {
  padding-top: 5px !important;
  padding-bottom:5px !important;
  display: block !important;
  width: 100% !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.sq-form-group select, .sq-form-group option  {
  margin-left: 4px !important;
  color:#665558 !important;
}

.sq-pin {
  font-family: DejaVuSansCondensed;
  font-size: 14px !important;
  font-style: normal !important;
  text-align: left !important;
  line-height: 30px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  background-color: #A9E4EB !important;
}

.sq-glyph-ok {
  background-color: #DFF0D8 !important;
  color: #3C763D !important;
}

div.sq-glyph-info-sign {
  display: inline !important;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer !important;
  padding-left: 1px !important;
  color: rgb(255, 255, 255) !important; 
  box-shadow: 1px 1px 0.5px #0AB3C6 !important;
   border-radius: 20px !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.sq-icon p {
  font-family: "AbsolutePro-BoldOblique";
  color: #000 !important;
  width: 30px !important;
  height: 30px !important;
  display: inline !important;
  margin:3px !important;
  padding:3px !important;
  line-height: 20px;
}

.sq-icon {
  color: #7F8389 !important;
  width: 100px !important;
  height: 100px !important;
  display: inline !important;
  padding-left: 4px !important;
  margin-left: 4px !important;
  font-size: 100% !important;
  cursor: pointer !important;
}

.target-A {
  font-family: DejaVuSansCondensed;
  font-size: 12px !important;
  background-color:#0AB3C6 !important;
  font-style: normal !important;
  text-align: center !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  color: #FFF !important;
}

.target-P {
  font-family: DejaVuSansCondensed;
  font-size: 14px !important;
  background-color:#0AB3C6 !important;
  font-style: normal !important;
  text-align: center !important;
  line-height: 16px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  color: #FFF !important;
  padding: 5px;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.target-R {
  font-family: DejaVuSansCondensed;
  font-size: 12px !important;
  background-color:#6B6868 !important;
  font-style: normal !important;
  text-align: center !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  opacity: 1 !important;
  color: #FFF !important;
}

.target-P p, .sq-pin {
  padding: 2px;
  text-align:center;
}

.box-blu-digest {
  border: 2px solid #0AB3C6;
  margin-left: -15px;
  margin-right: 0px;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.sq-box-blu {
  border: 2px solid #0AB3C6;
}


.sq-box-blu p{
  font-family: DejaVuSansCondensed;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  line-height: 16px;
  letter-spacing: 0em;
  opacity: 1;
  text-align: center;
  padding: 10px;
  color: #000;
}

.pink-link a {
  cursor: pointer;
  color:#DA396F;
  margin-top:25px;
  font-size: 14px;
}

.sq-pink-text {
  color:#DA396F !important;
  font-family: "DejaVuSansCondensed-BoldOblique" !important;
}

div.withPaddedBorder {
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:20px;
}

.part h4{
  font-family: 'AbsolutProCond';
}
#closeModal {
  background-color: #FFFFFF;
  border-radius: 4px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #dcdcdc;
  position: absolute;
  top: 200px;
  right:200px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
  width: 10%;
  height:5%;
}

.sq-target-small {
  font-family: DejaVuSansCondensed-Bold;
  font-size: 12px;
  background-color:#0AB3C6;
  font-style: normal;
  text-align: center;
  line-height: 10px;
  letter-spacing: 0em;
  opacity: 1;
  color: #FFF;
  padding: 5px;
}

.sq-no-pad {
  padding:4px;
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.sq-progress-radial {
  left: 50%;
  margin-left: -50px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  background-color: #DA396F;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.sq-progress-radial .sq-overlay {
  font-family: DejaVuSansCondensed-Bold;
  font-style: normal;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #E5E5E5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 70px;
  font-size: 10px;
  color: #DA396F;
}



/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.sq-progress-0 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-1 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(93.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-2 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(97.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-3 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(100.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-4 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(104.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-5 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-6 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(111.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-7 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(115.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-8 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(118.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-9 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(122.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-10 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-11 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(129.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-12 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(133.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-13 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(136.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-14 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(140.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-15 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-16 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(147.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-17 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(151.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-18 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(154.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-19 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(158.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-20 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-21 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(165.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-22 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(169.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-23 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(172.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-24 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(176.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-25 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-26 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(183.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-27 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(187.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-28 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(190.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-29 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(194.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-30 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-31 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(201.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-32 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(205.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-33 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(208.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-34 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(212.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-35 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-36 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(219.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-37 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(223.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-38 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(226.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-39 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(230.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-40 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-41 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(237.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-42 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(241.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-43 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(244.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-44 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(248.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-45 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-46 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(255.6deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-47 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(259.2deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-48 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(262.8deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-49 {
  background-image: linear-gradient(90deg, #FFFFFF 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(266.4deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-50 {
  background-image: linear-gradient(-90deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-51 {
  background-image: linear-gradient(-86.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-52 {
  background-image: linear-gradient(-82.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-53 {
  background-image: linear-gradient(-79.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-54 {
  background-image: linear-gradient(-75.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-55 {
  background-image: linear-gradient(-72deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-56 {
  background-image: linear-gradient(-68.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-57 {
  background-image: linear-gradient(-64.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-58 {
  background-image: linear-gradient(-61.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-59 {
  background-image: linear-gradient(-57.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-60 {
  background-image: linear-gradient(-54deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-61 {
  background-image: linear-gradient(-50.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-62 {
  background-image: linear-gradient(-46.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-63 {
  background-image: linear-gradient(-43.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-64 {
  background-image: linear-gradient(-39.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-65 {
  background-image: linear-gradient(-36deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-66 {
  background-image: linear-gradient(-32.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-67 {
  background-image: linear-gradient(-28.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-68 {
  background-image: linear-gradient(-25.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-69 {
  background-image: linear-gradient(-21.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-70 {
  background-image: linear-gradient(-18deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-71 {
  background-image: linear-gradient(-14.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-72 {
  background-image: linear-gradient(-10.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-73 {
  background-image: linear-gradient(-7.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-74 {
  background-image: linear-gradient(-3.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-75 {
  background-image: linear-gradient(0deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-76 {
  background-image: linear-gradient(3.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-77 {
  background-image: linear-gradient(7.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-78 {
  background-image: linear-gradient(10.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-79 {
  background-image: linear-gradient(14.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-80 {
  background-image: linear-gradient(18deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-81 {
  background-image: linear-gradient(21.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-82 {
  background-image: linear-gradient(25.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-83 {
  background-image: linear-gradient(28.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-84 {
  background-image: linear-gradient(32.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-85 {
  background-image: linear-gradient(36deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-86 {
  background-image: linear-gradient(39.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-87 {
  background-image: linear-gradient(43.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-88 {
  background-image: linear-gradient(46.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-89 {
  background-image: linear-gradient(50.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-90 {
  background-image: linear-gradient(54deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-91 {
  background-image: linear-gradient(57.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-92 {
  background-image: linear-gradient(61.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-93 {
  background-image: linear-gradient(64.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-94 {
  background-image: linear-gradient(68.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-95 {
  background-image: linear-gradient(72deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-96 {
  background-image: linear-gradient(75.6deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-97 {
  background-image: linear-gradient(79.2deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-98 {
  background-image: linear-gradient(82.8deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-99 {
  background-image: linear-gradient(86.4deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

.sq-progress-100 {
  background-image: linear-gradient(90deg, #DA396F 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #DA396F 50%, #FFFFFF 50%, #FFFFFF);
}

